{% extends 'base.html' %}
{% block content %}

    <h1>Birthday Blaster</h1>

    <div>
        <div>
          <div class="card white">
            <div class="card-content">
              <span class="#448aff blue-text text-accent-2">Birthday Blaster is a fun and festive event reminder application, designed to help you remember all those birthdays that have fallen off your radar. How many times have you forgotten to wish a loved one, friend, or co-worked “happy birthday?” Too many times to count! With Birthday Blaster, set up automated email reminders at personalized intervals to ensure you don’t forget anymore birthdays! You can also add important information and details about each special person, such as favorite colors, interests, hobbies, gift ideas, location,and more!</span>
            </div>
          </div>
        </div>
      </div>

      <div>
        <a href="{% url 'signup' %}" class="waves-effect waves-light btn #ff80ab pink accent-1">Sign Up Now!</a>
        <br>
        <br>
        <a href="{% url 'login' %}" class="waves-effect waves-light btn #ffeb3b yellow">Login to Your Account</a>
      </div>
{% endblock %}