{% extends 'base.html' %}
{% block content %}

    <h1>Birthday Blaster</h1>



    <div class="row">
        <div>
          <div class="card white">
            <div class="card-content center-align">
              <span class="#448aff blue-text text-accent-2">Birthday Blaster is a fun and festive event reminder application, designed to help you remember all those birthdays that have fallen off your radar. How many times have you forgotten to wish a loved one, friend, or co-worked “happy birthday?” Too many times to count! With Birthday Blaster, set up automated email reminders at personalized intervals to ensure you don’t forget anymore birthdays! You can also add important information and details about each special person, such as favorite colors, interests, hobbies, gift ideas, location,and more!</span>
                <br>
                <br>
              <div>
                <div class="row">
                  <div class="col s12 m6">
                    <a href="{% url 'login' %}" class="left waves-effect waves-light btn-large #fdd835 yellow darken-1">Login to Your Account</a>
                  </div>
                  <div class="col s12 m6">
                    <a href="{% url 'signup' %}" class="right waves-effect waves-light btn-large #ff80ab pink accent-1">Sign Up Now!</a>
                  </div>
                </div>
              </div>

              <div class="card-image">
                <img class="responsive-img" src="/static/images/6.png">
              </div>
            </div>
          </div>
        </div>
    </div>




{% endblock %}