{% extends 'base.html' %}
{% block content %}



<h1 class="center-align">{{ birthday.first_name }}'s Birthday!</h1>
  <div class="card">
    <div class="card-content" id="bday">
    {% for photo in birthday.photo_set.all %}
      <img id="avatar" class="center-align circle responsive-img"  src="{{photo.url}}">
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form action="{% url 'add_photo' birthday.id %}" enctype="multipart/form-data" method="POST" class="" id="photoupload">
      {% csrf_token %}
      <input type="file" name="photo-file" class="choosefile">
      <br><br>
      <button type="submit" class="btn white-text center-align #fdd835 yellow darken-1" id="upload">Upload Photo</button>
  </form>
</div>
  
 

  

      <h5 class="center-align">{{ birthday.first_name }} {{ birthday.last_name }}</h5>
      <p class="center-align">Birthday Day: {{ birthday.date }}</p>
      <p class="center-align">{{ birthday.relationship }}</p>
      <p>Notes about {{birthday.notes}}: {{birthday.delivery_method}}</p>
    </div>

  <div class="card-action center-align">
    <a href="{% url 'birthdays_update' birthday.id %}" class="waves-effect waves-light btn #448aff blue accent-2">Edit</a>
    <a href="{% url 'birthdays_delete' birthday.id %}" class="waves-effect waves-light btn #ff80ab pink accent-1">Delete</a>
  </div>
  <hr>
    
  


<div class="col s6">
  <h3>Show {{birthday.first_name }} some love!</h3>
  <p>List some gift ideas or some of your favorite things about {{birthday.first_name }}</p>

  {% if ideas.count %}
    {% for idea in ideas.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <p>{{ idea.ideas}}</p>
          </span>
        </div>
        <div class="card-action">
          <form action="" method="POST">
            {% csrf_token %}

          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{cat.name}} Already Has All Toys Available</h5>
  {% endif %}
</div>

<a href="{% url 'gifts_create' birthday.id %}" id="navlist"><button>Add A Gift Idea</button></a>
{% endblock %}